/* stylesheet.css file*/
html, body
{
    height: 100%;
    font-family: sans-serif;
}

/* PARTICLES.JS CSS REFERENCE!*/
#particles-js
{
    height: 100%;
    background-color: azure;
}

/* HEADER CSS */
header
{ 
    background-color: dimgrey;
    line-height: 50px;
    
}

header nav
{
    text-align: center;
    display: inline;
}

header nav li
{
    list-style-type: none;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

header nav li a
{
    color: ghostwhite;
    transition: all 0.5s;
    font-size: 18px;
}

header nav li a:hover
{
    text-decoration: none;
    color: red;
}
/* END OF HEADER AND NAV CSS MODS */

/* WELCOME TEXT CSS FOR EACH PAGE */
.MainPageIntroText
{
    color: black;
    text-align: center;
    font-size: 18px;
    width: 1000px;
    margin: auto;
}

/* MAIN BODY TEXT CSS FOR WELCOME PAGE */
.WelcomePageNavigationText
{
    color: black;
    text-align: center;
    font-size: 18px;
    width: 1000px;
    margin: auto;
}

/* MAIN BODY TEXT CSS FOR MY PORTFOLIO PAGE */
.MyPortfolioText
{
    color: black;
    text-align: center;
    font-size: 18px;
    width: 1000px;
    margin: auto;
}

/* FOOTER CSS FOR EACH PAGE */
footer
{
    color: black;
    text-align: center;
    font-size: 16px;
    width: 1000px;
    margin: auto;
}

/* ABOUT ME SECTION TEXT */
.AboutMeSectionText
{
    color: black;
    text-align: justify;
    font-size: 18px;
    width: 1000px;
    margin: auto;
}

.ServicesSectionText
{
    /* still working on this one.. */
}

/* CSS SETTINGS FOR PICTURES ON ABOUT ME PAGE */
.AboutMePictures
{
    width: 90px;
    height: 90px; 
    float: right;
    margin-left: 10px; 
    margin-bottom: 5px; 
    padding: 2px;
}

/* CSS STYLING FOR LINE BREAKS IN VARIOUS PAGES */
hr
{
    height: 2px;
    width: 1000px; 
    border-width: 0;
    color: gray; 
    background-color: gray;
}

/* BLOG CSS FOR BLOG PAGE*/
.blog
{
    color: black;
    text-align: justify;
    font-size: 18px;
    width: 1000px;
    margin: auto;
}

/*unordered lists class definition for ProgrammingLanguages unordered list*/
/* only appears in services.html*/
.ProgrammingLanguages
{
    text-align: center;
    font-size: 18px;  
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.banner
{
    height: 50px;
}

label
{
    display: block;
    width: 270px;
    text-align: center;
}

input
{
    border: 2px solid black;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    outline: 0;
    display: inline-block;
    clear: left;
}

textarea
{
    resize: none;
    border: 2px solid black;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    outline: 0;
    display: inline-block;
    clear: left;
}

.ContactSection
{
    text-align: center;
    margin: auto;
    width: 1000px;
    
}

ul
{
    text-align: center;
    list-style-position: inside;
}