/* stylesheet.css file*/
/*css class definition for general usage of HTML tags below*/
/* .calls are for div classes only! All others are tag specific! */
html, body
{
    height: 100%;
    font-family: sans-serif;
}

header
{ 
    line-height: 40px;
    background-color: dimgrey;
}

.containter
{
    background-color: darkgrey;
}

/* particles.js reference*/
#particles-js
{
    height: 100%;
    background-color: azure;
}


.welcometext 
{
    color: black;
    text-align: justify;
    font-size: 18px;
    width: 1000px;
    margin: auto;
}

/*unordered list class definition for header links to different pages */
/* appears in all pages*/
ul.HeaderLinks
{
    margin: auto;
    text-align: justify;
}

/* list tag class call for OtherPageLinks - the page links that you click on the header. */
/* appears in all pages*/
li.TopPageLinks
{
    display: inline-block;
    text-align: justify; 
}

/*unordered lists class definition for ProgrammingLanguages unordered list*/
/* only appears in services.html*/
ul.ProgrammingLanguages
{
    text-align: center;
    list-style: decimal;
    font-size: 30px;  
}


.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.banner
{
    height: 50px;
}


header nav li a
{
    padding-right: 35px;
    color: ghostwhite;
    transition: all 0.5s;
}

header nav li a:hover
{
    text-decoration: none;
    color: red;
}

label
{
    display: block;
    width: 270px;
    text-align: center;
}

input
{
    border: 2px solid black;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    outline: 0;
    display: inline-block;
    clear: left;
}

textarea
{
    resize: none;
    border: 2px solid black;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    outline: 0;
    display: inline-block;
    clear: left;
}